body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* background-image: url('./assets/dots.png');
  background-size: 100%; */
  /* background-color: white;
  background-image: url(./assets/cool-background.png);
  background-size: 160%; */
  background-color: #000000;
  background-image: linear-gradient(1deg, #000000 0%, #04619f 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1000;
}

html, body {
  height: 100%;
  margin: 0;
}